body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

#loading {
    margin: 20px 0;
}

.list-group-item {
    margin-bottom: 5px;
    border-radius: 5px;
}
